.loginPage {
    background-image: url('/Common/Wood-Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-sienna-500);
    font-family: var(--font-pacifico);
}

.journal {
    background-image: url('/Login/Journal-Login.svg');
    width: 657px;
    height: 816px;
}

.tag {
    width: 657px;
    height: 120px;
    position: relative;
    top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagText {
    font-size: var(--fs-32);
    color: var(--color-sienna);
    font-family: var(--font-pacifico);
    text-align: center;
    width: 300px;
    border: transparent;
    background: transparent;
    outline: none;
    color: var(--color-sienna-500);
    -webkit-text-fill-color: var(--color-sienna-500);
    caret-color: var(--color-sienna-500);
}


.tagText::placeholder {
    color: var(--color-sienna-500);
    opacity: 1;
}

.tagText:focus {
    outline: none;
}

.tagText:-webkit-autofill,
.tagText:-webkit-autofill:hover,
.tagText:-webkit-autofill:focus,
.tagText:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-sienna-500);
    color: var(--color-sienna-500);
    caret-color: var(--color-sienna-500);
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 999999s ease-out 0s;
}

/* Lock Numbers */


.lockNumbers {
    position: relative;
    color: var(--color-antiquewhite);
    font-size: var(--fs-16);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.lockNumber1 {
    top: 306px;
    left: 347px;
    transform: rotate(10deg);
}

.lockNumber2 {
    top: 307px;
    left: 360px;
    transform: rotate(0deg);
}

.lockNumber3 {
    top: 303px;
    left: 374px;
    transform: rotate(-16deg);
}

.lockNumber4 {
    top: 293px;
    left: 385px;
    transform: rotate(-27deg);
}

.lockNumbers:focus {
    outline: none;
}

.lockNumbers:focus-visible {
    outline: 2px solid var(--color-sienna-500);
    outline-offset: 3px;
    border-radius: 8px;
}

/* Login Button and Errors */
.formArea {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.loginButton {
    background-image: url('/Common/Button3D-Big.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 11px;
    color: var(--color-antiquewhite);
    border: none;
}

.loginButton a {
    color: var(--color-antiquewhite);
    text-decoration: none;
    font-family: var(--font-oxygen);
}

.loginButton:hover {
    box-shadow: 0px 2px 2px rgba(58, 29, 20, 0.6);
    border-radius: 11px;
}

.loginButton:active {
    box-shadow: 0px 2px 2px rgba(58, 29, 20, 0.6);
    border-radius: 11px;
    transform: translateY(2px);
    background-position: center;
    clip-path: inset(0 0 2px 0);
}

.loginButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.error {
    position: absolute;
    top: 50px;
    color: var(--color-antiquewhite);
    font-family: var(--font-oxygen);
    font-size: var(--fs-16);
}