/* Layout */
.landingPage {
  background-image: url('/Common/Wood-Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: var(--color-sienna-500);
  font-family: var(--font-pacifico);
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 816px;
}

.rightSection {
  background-image: url('/Common/Journal.svg');
  width: 657px;
  height: 816px;
}

/* Journal */

.tag {
  width: 657px;
  height: 120px;
  position: relative;
  top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagText {
  font-size: var(--fs-32);
  font-family: var(--font-pacifico);
  text-align: center;
}

.lockNumbers {
  position: relative;
  color: var(--color-antiquewhite);
  font-size: var(--fs-20);
  width: min-content;
}

.lockNumber1 {
  top: 344px;
  left: 346px;
}

.lockNumber2 {
  top: 309px;
  left: 368px;
  transform: rotate(-10deg);
}

.lockNumber3 {
  top: 270px;
  left: 389px;
  transform: rotate(-20deg);
}

.lockNumber4 {
  top: 225px;
  left: 408px;
  transform: rotate(-30deg);
}

/* Main Section */

.mainSection {
  border-radius: 20px;
  background-color: var(--color-peru-100);
  border: 2px solid var(--color-peru-400);
  box-sizing: border-box;
  width: 500px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-family: var(--font-oxygen);
}

.titleContainerMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--font-pacifico);
}

.logo {
  width: 165px;
  height: 70px;
}

.titleTextMain {
  font-size: var(--fs-20);
  padding-top: 16px;
}

.description {
  width: 398px;
  position: relative;
  font-size: var(--fs-14);
  text-align: justify;
  display: inline-block;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  font-size: var(--fs-12);
}

.button3DBig {
  background-image: url('/Common/Button3D-Big.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  border-radius: 11px;
}

.button3DSmall {
  background-image: url('/Common/Button3D-Small.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  border-radius: 11px;
}

.button3DBig a,
.button3DSmall a {
  color: var(--color-antiquewhite);
  text-decoration: none;
}

.button3DBig:hover,
.button3DSmall:hover {
  box-shadow: 0px 2px 2px rgba(58, 29, 20, 0.6);
  border-radius: 11px;
}

.button3DBig:active {
  box-shadow: 0px 2px 2px rgba(58, 29, 20, 0.6);
  border-radius: 11px;
  transform: translateY(2px);
  background-position: center;
  clip-path: inset(0 0 2px 0);
}

.button3DSmall:active {
  box-shadow: 0px 2px 2px rgba(58, 29, 20, 0.6);
  border-radius: 11px;
  transform: translateY(2px);
  background-position: center;
  clip-path: inset(0 0 2px 0);
}


/* Info Section */

.infoSection {
  background-image: url('/LandingPage/Info-Section.svg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 32px;
  width: 500px;
  height: 436px;
  font-size: var(--fs-20);
}

.titleInfo {
  padding-top: 24px;

}

.infoTextsContainer {
  width: 400px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  text-align: left;
  font-size: var(--fs-14);
  font-family: var(--font-oxygen);
}

.textContainer1 {
  position: relative;
  left: 170px;
  width: 230px;
}

.textContainer2 {
  position: relative;
  left: 0px;
  width: 230px;
}

.textContainer3 {
  position: relative;
  left: 170px;
  width: 230px;
}

.infoText {
  padding: 0;
  margin: 0;
}