/* Day Tag */

.dayTag {
    background-image: url('/Dashboard/Day-Tag.svg');
    background-repeat: no-repeat;
    width: 198.3px;
    height: 86.1px;
    color: var(--color-saddlebrown);
    font-family: var(--font-pacifico);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dayOfWeek {
    font-size: var(--fs-24);
    text-decoration: underline;
}

.dayOfMonth {
    position: relative;
    left: 40px;
    font-size: var(--fs-14);
}