/* Navbar */

.navbar {
    width: 1271px;
    height: 70px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    background-image: url('/Common/Logo.svg');
    width: 165px;
    height: 70px;
}

.navBadges {
    width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signPlan {
    background-image: url('/Signs/Sign-Plans.svg');
    width: 106px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signUser {
    background-image: url('/Signs/Sign-User.svg');
    width: 117px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navSignText {
    margin-top: 8px;
}

.personalCardIcon {
    background-image: url('/Dashboard/planIcon.svg');
    width: 24px;
    height: 22px;
    margin-top: 10px;

}

.userIcon {
    background-image: url('/Dashboard/userIcon.svg');
    width: 22px;
    height: 22px;
    margin-top: 8px;

}